<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">{{name}}</h2>
        <div *ngFor="let item of edu" class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{item.university}}</h3>
                <div class="subheading mb-0" id="certificate">{{item.certificate}}</div>
                <div class="subheading mb-3" id="spacialize">{{item.spacialize}}</div>                
                <p>GPA: {{item.gba}}</p>
            </div>
            <div class="flex-shrink-0"><span id="date">{{item.startDate}} - {{item.graduatetDate}}</span></div>
        </div>
    </div>
</section>