<!-- About-->
<form #aboutForm="ngForm">
    <section class="resume-section scrollspy-example" id="about" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Audai
                <span class="text-primary">Alsharani</span>
            </h1><br /><br />
            <div class="subheading mb-5">
                <div>
                    <i class="bi bi-house-fill"></i>
                    <span class="address">Syria - Suwayda</span>
                </div>
                <div>
                    <i class="bi bi-phone-fill"></i>
                    <span class="address">(+963) 931 652 715 </span>
                </div>
                <div>
                    <i class="bi bi-envelope-fill"></i>
                    <span class="address"><a href="mailto:audaisam5@gmail.com">audaisam5@gmail.com</a></span>
                </div>
            </div>
            <p class="lead mb-5">I am a highly organized person, hardworking, ambitious, I like teamwork and I am looking
                for a real opportunity in a reputable organization.
                I have experience in agile software development and lean development, in addition to mastering some
                engineering practices to build quality in software.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/audai-alsh-arani-100738211" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <a class="social-icon" href="https://github.com/SamAudai?tab=repositories" target="_blank"><i
                        class="bi bi-github"></i></a>
                <a class="social-icon" href=""><i class="bi bi-twitter"></i></a>
                <a class="social-icon" href="https://www.facebook.com/audai0" target="_blank"><i
                        class="bi bi-facebook"></i></a>
            </div>
        </div>
    </section>
</form>