<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Audai
            <span class="text-primary">Alsharani</span>
        </h1><br />
        <h4  class="mb-0">
            Software Engineer
        </h4><br /><br />
        <div class="subheading mb-5">
            <div>
                <i class="fa fa-home"></i>
                <span>Syria - Suwayda</span>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <span><a href="tel:+963931652715">+963 931 652 715</a></span>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <span><a href="mailto:audaisam5@gmail.com">audaisam5@gmail.com</a></span>
            </div>
        </div>
        <p class="lead mb-5">I am a highly organized person, hardworking, ambitious, I like teamwork and I am looking
            for a real opportunity in a reputable organization.
            I have experience in agile software development and lean development, in addition to mastering some
            engineering practices to build quality in software.
        </p>
        <div class="social-icons">
            <a class="social-icon linkedin" href="https://www.linkedin.com/in/audai-alsh-arani-100738211" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
            <a class="social-icon whatsapp" href="https://wa.link/tl01y5" target="_blank"><i
                    class="fab fa-whatsapp"></i></a>
            <a class="social-icon facebook" href="https://www.facebook.com/audai0" target="_blank"><i
                    class="fab fa-facebook"></i></a>
            <a class="social-icon instagram" href="https://www.instagram.com/audai_alsharani/" target="_blank"><i
                    class="fab fa-instagram"></i></a>
            <a class="social-icon telegram" href="https://t.me/Audai_Alsharani" target="_blank"><i
                    class="fab fa-telegram"></i></a>
        </div>
    </div>
</section>