<!-- Courses And Certificaion-->
<form #courseForm="ngForm">
    <section class="resume-section">
        <div class="resume-section-content">
            <h2 class="mb-5">{{name}}</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Google / Google IT Support Professional Certificate / Present
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    University of ALBERTA / Software Product Management / Jan 8, 2022
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    The Hong Kong University of Science and Technology / Full Stack Web Development with Angular / Aug 12, 2021 
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    IBM / Introduction to Data Analytics / Jul 29, 2021
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    University of Minnesota / Software Development Lifecycle / Jul 14, 2021 
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    University of Michigan / Python for Everybody / Jun 11, 2021  
                </li>
            </ul>
        </div>

    </section>

    <!--<section class="resume-section" formGroupName="newCertifecate">
        <div class="resume-section-content">
            <label for="courseGiver">Educational institution : </label>
            <input id="courseGiver" type="text" formControlName="courseGiver">
        </div>

        <div class="resume-section-content">
            <label for="courseName">Course Name : </label>
            <input id="courseName" type="text" formControlName="courseName">
        </div>

        <div class="resume-section-content">
            <label for="courseDate">Grant date : </label>
            <input id="courseDate" type="text" formControlName="courseDate">
        </div>        
        
    </section>
    <div>
        <input type="submit" value="Add New" formControlName="courseDate" >
    </div>>-->
    
</form>